@charset "utf-8";
.container header {
    background-color: #9CE68F;
}
.container #hero {
    background-image: url(images/images.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(236,249,117,1.00) 0%,rgba(247,148,148,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(236,249,117,1.00) 0%,rgba(247,148,148,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(236,249,117,1.00) 0%,rgba(247,148,148,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(236,249,117,1.00) 0%,rgba(247,148,148,1.00) 100%);
}
.container .banner {
    background-image: url(images/images.jpg);
}
.container #contact {
    background-color: #8FFBCB;
}
.container .copyright {
    background-color: #FEAEAF;
}
